# Temporary files
*.tmp

## Cache
cache

### Gradle project cache
.gradle

### Kotlin project cache
.kotlin

## Lock files
*.lock

### Microsoft Office lock files
~$*

### LibreOffice and OpenOffice lock files
.~lock.*#

# Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.7z
*.rar

## Minecraft archives

### Minecraft Bedrock edition worlds (ZIP-based)
*.mcworld

### Minecraft Modrinth modpacks (ZIP-based)
*.mrpack

## Microsoft Office file formats (ZIP-based)
*.docx
*.dotx
*.xlsx
*.xlsm
*.xltx
*.xlsb
*.pptx
*.ppsx
*.potx

## OpenDocument file formats (ZIP-based)
*.odt
*.ods
*.odp
*.odg
*.odf
*.odm
*.ott

## Installer files
*.iso

### Windows installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Executables
*.bin
*.exe
*.apk

## Common compiled files and/or binaries
dist
build
bin

## Java executables and compiled files
*.jar
*.class

## Libraries
### Node.js packages
node_modules

## Gradle wrapper
gradlew
gradlew.bat

# User-specific files

## Godot 4+ specific ignores
.godot
android

# Logs
*.log

# Common working directory
run

# Backup files

## Microsoft backup files
*.asd

## Minecraft game data backup
*.dat_old
