# Lock files
~$*
*.lock

## LibreOffice and OpenOffice Temporary Files
.~lock.*#
*.~lock.*

# Node.js packages and information
node_modules
package-lock.json

# Common compiled files
dist

# Archive/binary files
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.iso
*.7z
*.rar
*.bin
*.exe
*.apk
*.msi
*.jar
*.class
*.mrpack
*.mcworld

## Microsoft Office (ZIP-based)
*.docx
*.dotx
*.xlsx
*.xlsm
*.xltx
*.xlsb
*.pptx
*.ppsx
*.potx

## OpenDocument Formats (ZIP-based)
*.odt
*.ods
*.odp
*.odg
*.odf
*.odm
*.ott
